@media (max-width: 77.75em) {
  .score {
    padding-left: 15rem;
  }
  .highscore {
    padding-left: 4rem;
  }
}

@media (max-width: 77.75em) {
  .retry {
    grid-row: 1/2;
  }

  input {
    font-size: 2.4rem;
    padding: 2.5rem;
    text-align: center;
  }

  .message {
    font-size: 5rem;
  }

  .scores-section {
    padding: 5rem;
    justify-content: flex-end;
  }

  .score-box,
  .highscore-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .score,
  .highscore {
    padding: 0;
  }
}

@media (max-width: 63.75em) {
  html {
    font-size: 52.25%;
  }
}
@media (max-width: 51.25em) {
  html {
    font-size: 48%;
  }

  .message {
    font-size: 3.2rem;
  }

  body {
    font-size: 3.2rem;
  }

  .header {
    margin-bottom: 4rem;
  }

  .game-name {
    font-size: 6rem;
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 3.2rem;
    font-weight: 800;
    gap: 1rem;
    letter-spacing: 1.1px;
  }

  .icon {
    font-size: 3.4rem;
  }

  input {
    font-size: 3rem;
  }

  .score,
  .highscore {
    color: #3289f3;
    font-size: 10rem;
  }

  .main {
    padding: 5rem;
  }

  .secret-number {
    font-size: 10rem;
  }

  .container {
    background: -webkit-linear-gradient(
      to left,
      #093028,
      #237a57
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #093028,
      #237a57
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .ans-box {
    gap: 1rem;
  }
}

@media (max-width: 31.25em) {
  html {
    font-size: 45%;
  }

  .header {
    margin-bottom: 8rem;
  }

  .main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main {
    padding: 0;
  }

  .score,
  .highscore {
    font-size: 4.4rem;
  }
}
