/* THIS IS GENERAL STYLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rampart One", cursive;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;

  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  /* margin: 5rem 5rem; */
  border: 5px solid #fff;

  overflow: hidden;

  padding: 1.5rem 3rem;

  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #237a57,
    #093028
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #237a57,
    #093028
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-box {
  column-gap: 5rem;
}

/* SUBDIVISION GRID */
.grid {
  display: grid;
}

.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.col3 {
  grid-template-columns: repeat(3, 1fr);
}

.row2 {
  grid-template-rows: repeat(2, 1fr);
}
.row3 {
  grid-template-rows: repeat(3, 1fr);
}

/* SUBDIVISION FLEX */
.flex {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.flexd {
  flex-direction: column;
}

/* SUBDIVISION BUTTONS */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 5rem;
  background-color: rgba(51, 51, 51, 0.192);
  color: #3289f3;
  font-size: 4rem;
  border: 1px solid #fff;
  /* border-radius: 0.9rem; */
}

.icon {
  font-size: 5rem;
  font-weight: 900;
  color: #3289f3;
}

input {
  font-family: inherit;
  font-size: 5rem;
  width: 25%;
  background-color: #333;
  color: #fff;
  padding: 2.5rem 5rem;
  justify-self: center;
  align-self: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* THIS IS STYLING PART */

.message {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* SECTION HEADER */
.header {
  align-items: start;
  justify-content: space-between;
  margin-bottom: 9.6rem;
}

.game-info {
  grid-row: 1/-1;
  grid-column: 1/2;
}

.game-name {
  font-size: 8rem;
  letter-spacing: 1.6px;

  grid-column: 1/2;
}

.retry {
  grid-column: 2/3;
  justify-self: end;
}

/* SECTION MAIN */

.main {
  align-items: start;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}

.secret-number {
  font-size: 15rem;
}

/* SECTION FOOTER */

.scores-section {
  align-items: center;
  justify-items: start;
}

.score,
.highscore {
  padding-left: 20rem;
  font-size: 15rem;
}
.score {
  padding-left: 28rem;
}
