* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Rampart One", cursive;
  letter-spacing: 1.3px;
  background-color: #268be49f;
  color: #fff;
  padding: 4rem;
}

.container {
  height: 90vh;
  display: grid;
  gap: 0;
  border: 0.3rem solid #fff;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.308);
}

header {
  background-color: #333;
  width: 100%;
  display: flex;
  gap: 3.2rem;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
  border-bottom: 0.3px solid #fff;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.308);
  padding: 3.2rem;
}

.header-note {
  font-size: 3.2rem;
  /* color: rgb(252, 252, 252); */
}

h1 {
  font-size: 6.8rem;
  text-align: center;
  color: #268be4;
  letter-spacing: 1.6px;
  justify-self: flex-start;
}

.btn {
  background-color: #333;
  color: #ffffff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 0.3rem solid #fff;
  border-radius: 0.9rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.replay {
  font-size: 3.6rem;
  font-weight: bolder;
  color: #63dd6a;
}

/* SECTION --------MAIN BODY */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

/* SECTION --------BOX1 */

.box1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr;
  gap: 8rem;
  padding-top: 4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input {
  overflow: hidden;
  padding: 0 6.5rem;
  max-width: 20rem;
  font-size: 5rem;
  font-weight: 800;
  font-family: "Rampart One", cursive;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.308);

  grid-column: 1/3;
  grid-row: 2/-1;
  border: none;
  border-radius: 0.9rem;
}

.check {
  grid-column: 3/-1;
  grid-row: 2/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.308);
}
.search {
  font-size: 3.6rem;
  font-weight: bolder;
  color: #63dd6a;
}

.secret-number-box {
  grid-column: 2 / span2;
  max-width: 20rem;
  text-align: center;
  background-color: rgb(1, 114, 212);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.308);
  box-shadow: inset 0 0 2rem #63dd69;
  padding: 1rem;
  border-radius: 50%;
}
.secret-number {
  font-size: 12rem;
  font-weight: 400;
  color: #63dd6a;
}

/* SECTION --------BOX2 */
.box2 {
  padding: 2rem 12rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 6.4rem;
  align-items: start;
  background-color: rgb(1, 114, 212);
}

.score-box,
.highscore-box,
.msg-box {
  letter-spacing: 1.8px;
  font-weight: 500;
  font-size: 3.8rem;
}
.score-box {
  grid-column: 1/2;
}
.highscore-box {
  grid-column: 8/-1;
}
.score,
.highscore {
  font-size: 8rem;
  color: #63dd6a;
}
.msg-box {
  grid-column: 3 / 7;
  text-align: center;
}
.highscore-box {
  justify-self: end;
}

.message {
  line-height: 1;
  font-size: 8rem;
  color: #63dd6a;
}
